!!!
%html
  %head
    %title The Search For The Amber Madonna
    =stylesheet_link_tag 'http://twitter.github.com/bootstrap/assets/css/bootstrap.css'
    =stylesheet_link_tag 'all'
    =javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'
    =partial 'js'

  %body
    =partial 'mailchimp'

    #splash
      .container
        .row
          .span8
            .row
              .span4{style:'background:#333;height:400px'}
              .span4
                .quote
                  %h5 Some review
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                .quote
                  %h5 Some review
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                .quote
                  %h5 Some review
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          .span4
            #store_links
              %h4 Buy it online
              =partial('store_links')
              %p Available on Amazon and the iBookStore
          .span12
            .social <div class="fb-like" data-href="http://ambermadonna.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
     
    .container
      =yield
    :javascript
      setTimeout(function(){
        $(function(){
          $('#top_banner').slideDown();
        })
      }, 1500)