#top_banner
  .container
    .row
      .span7
        .email_signup_call_to_action 
          Sign up to the Amber Madonna news letter to hear exciting news from the author.
      .span5
        %input{type:'text', placeholder:'georgedrummond@gmail.com'}
        %button.btn.btn-primary Sign Up
